body{
	background-color: #606060;
}
#div1{
	width: 970px;
	margin: 0 auto;
}
#div2{
	background-color: #373c44;
    margin:0 auto;
    width: 970px;
}
#a1{
    color: #ffffff;
}
#ul1 li{
	display: inline;
}
#div3{
	background-color: white;
	width: 970px;
	padding: 5px 10px;
	display: flex;
	flex-direction: row;
}
.news{
	background-color: white;
	display: flex;
	flex-direction: row;
	padding-left: 10px;
}
#li2{
	font-size: 13px;
}
#div4{
	background-color: white;
}
.navbar navbar-expand-lg navbar-light bg-light{
	 margin-top: -32px;
}
#ul3 li{
	display: inline;
}
#div5{
	background-color: white;
    margin-left: 0px;
}
#li3{
	background-color: white;
	font-size: 13px;
}
#a3{
	color: grey;
}
#div7{
	background-color: #f3e7bd;
	border-bottom: 2px solid #999 !important;
	display: flex;
	flex-direction: row;
	max-height: 50px;
	text-align: center;
}
#div8{
	background-color: white;
	margin-left: 8px;
	display: flex;
	flex-direction: row;
	float: left;
	max-height: 280px;
}
#h42{
	color: #003366;
	font-size: 17px;
}
#hr1{
	font-size: 30px;
	margin-left: 10px;
}
#p1{
	font-size: 12px;
	margin-top: 1px;
}
#h2{
    background-color: #f3e7bd;
    margin-left: -10px;
    margin-right: -10px;
}   
#a6{
	color: #384455;
	text-decoration: none;
}
#div9{
	background: #e4e6e8 !important;
	display: flex;
	flex-direction: row;
}
#a4{
	background-color: white;
	color: #003366;
	margin-left: 0px;
}
#div10{
	background-color: white;
	min-width: 280px;
	display: flex;
	flex-direction: row;
}
#h5{
	background-color: #c3d6e9;
	font-size: 18px;
}
#a8{
	color: #384455;
	text-decoration: none;
}
#h6{
	font-size: 18px;
	font-size: 20px;
}
#img6{
	float: right;
}
.person{
	display:flex;
	flex-direction: row;
}
.persCont{
}
.ul{
	font-size: 0.75em;
	min-width:300px;
}
#div11{
	display: flex;
	flex-direction: column;
}
#div6{
	display: flex;
	flex-direction: column;
	background-color: #99a1b1;
	width: 970px;
	height: 3000px;
	padding-top: 10px;
}
h4{
	font-size: 18px;
}
#div4{
	display: flex;
	flex-direction: row;
}
#Cont1{
	display: flex;
	flex-direction: column;
	width:314px;
	min-height: 807px;
	background-color: white;
	padding: 0px 10px;
	border-radius: 10px;
}
#Cont2{
	display: flex;
	flex-direction: column;
	max-width:314px;
	background-color: white;
	margin-left: 324px;
	margin-top: -807px;
	min-height: 807px;
	padding: 0px 10px;
	border-radius: 10px;
}
#Cont3{
	display: flex;
	flex-direction: column;
	max-width: 314px;
	min-height: 807px;
	margin-left: 646px;
	margin-top: -807px;
	border-radius: 10px;
	background-color: #fff;
}
#img4{
	width: 100px;
	height:100px;
	float: right;
}
#h3{
	font-size: 17px;
	background: #e4e6e8;
    color: #000;
    margin-left: -10px;
    margin-right: -10px;
}
#a7{
	color: #333;
	text-decoration: none;
}
#GlawNews{
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: left;
	max-width: 150px;
	min-height: 705px;
    margin-left: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
#a5{
	font-size: 11px;
	color: #000000;
	text-align: center;
}
#img1{
	justify-content: center;
	width:90px; 
    height:90px;
    margin-left: 27px;
}
#a2{
	font-size: 12px;
}
#chitaemoe{
	background-color: white;
	width: 270px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: right;
	margin-left: 170px;
    margin-top: -705px;
}
#h1{
	background-color: #FFD98E;
	font-size: 15px !important;
}
#img2{
	width:60px;
	height:60px;
	float: left;
}
#mneniy{
	width: 245px;
	background-color: white;
	float: right;
	border-radius: 10px;
	margin-left: 450px;
    margin-top: -887px;
}
#p3{
	font-size: .625em;
	margin-left: 70px;
}
#p4{
    font-size: .687em;
    border-width: 5px;
    border-style: solid;
    border-color: #FFB440;
    background-color: #FFB440;
    margin-left: 5px;
    margin-right: 5px;
}
#img3{
	float: left;
}
#p34{
	font-size: .625em;
	margin-left: 70px;
}
#h8{
	background: #e4e6e8 !important;
	width: 245px;
	margin-left: 0px;
	font-size: 15px !important;
}
#a9{
	color: #036;
    text-decoration: none;
    font-style: italic;
    position: relative;
    display: inline-block;
}
#a11{
	color: #003366;
	font-size: 16px;
    text-decoration: none;
}
#a10{
	color: #003366;
    font-weight: bold;
    text-decoration: none;
}
#Russian{
	display: flex;
	flex-direction: column;
	width: 255px;
	background-color: #e4e6e8;
	margin-left: 705px;
    margin-top: -579px;
    height: 500px;
    border-radius: 10px;
}
#a12{
	background: #c3d6e9;
	font-size: 15px !important;
}
#img5{
	margin-left: 10px;
    margin-top: 10px;
    float: left;
}
#a13{
	font-size: .75em;
	margin-left: 100px;
    margin-top: -82px;
}
#a14{
	color: #003366;
    font-size: 11px;
    margin-left: 10px;
}